body{
  margin: 0;
  flex: 0 0 50%;}
.navbar{
  display: flex;
  flex: 0 0 50%;
}

ul{
  display: flex;
}




.example-1{
  display: flex;
}
.example-1 img{
  margin-right: 50px;
  
  position: absolute;
height: 546px;
left: 51.16%;
right: 3.49%;
top: -74px;

background: url(.png);
border-radius: 0px;
}
.example-1 p{
font-size: 30px;
}